<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Management Collection </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="banner row">
        Project Management Collection App - Algonquin College
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="logout-button-container">
            <form>
                <input type="submit" value="Upload" class="nav-button shadow-sm" asp-controller="Document" asp-action="Upload" />
                <input type="submit" value="Documents" class="nav-button shadow-sm" asp-controller="Document" asp-action="SearchDocuments" />
                <input type="submit" value="Projects" class="nav-button shadow-sm" asp-controller="Project" asp-action="SearchProjects" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="logout-button" type="submit" asp-controller="Home" asp-action="Logout" value="Logout" />
            </form>
        </div>
    </div>
    @RenderBody()
</body>
</html>