<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Management  Collection </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
@RenderSection("Scripts", required: false)
<body>
    <div class="banner row">
        Project Management Collection App - Algonquin College
    </div>
    @RenderBody()
</body>
</html>