@model IEnumerable<Project>;
@{
    Layout = "_NavBar.cshtml";

    //var projects = ViewBag["Projects"];
}
@{

    <div>
        foreach (Project proj in Model)
        {
        <div class="col1"></div>
        <div class="col1"></div>
        <div class="col1"></div>
        <div class="col1"></div>
        <div class="col1"></div>
        <div class="col1"></div>
        }
    </div>
}

