@model ProjectManagementCollection.Models.Export
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<!DOCTYPE html>
<html class="common" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search - Project Management Collection </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>

<body>

    <div class="search-container">
        <div>
            <form class="logout-button-container">
                
            </form>
        </div>
      
        </div>
</body>
</html>
