@model ProjectManagementCollection.Models.Login
@*

*@


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project Management  Collection  - Login</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <main role="main" class="pb-3">
        <div class="container"></div>
    </main>
    <form asp-controller="Home" asp-action="Search">
        <table>
            <tr>
                <td>
                    <label asp-for="Email" class="login-label"> Email </label>
                </td>
                <td>
                    <input type="text" asp-for="Email" size=20 />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" asp-controller="Home" asp-action="Search" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>