@model ProjectManagementCollection.Models.ViewModels.LoginModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> - Project Management  Collection  - Login</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <main role="main" class="pb-3">
        <div class="container">
            <form asp-controller="Home" asp-action="Login" method="post">
                <table>
                    <tr>
                        <td>
                            <label asp-for="Email" class="login-label"> Email </label>
                        </td>
                        <td>
                            <input type="text" asp-for="Email" size=20 />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label asp-for="Password" class="login-label"> Password </label>
                        </td>
                        <td>
                            <input type="password" asp-for="Password" size=20 />
                        </td>
                    </tr>
                    @{ if (Model != null && Model.error)
                        {
                    <tr>
                        <td></td>
                        <td style="color:red">
                        Did not find the User or Password is wrong!
                        </td>
                    </tr>
                        }
                    }
                    <tr>
                        <td>
                            <input type="submit" asp-controller="Home" asp-action="Login" value="Login" />
                        </td>
                    </tr>
                </table>
            </form>

        </div>
    </main>
</body>
</html>