@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_NavBar";
}
<style> 
 .table_header {
    color: white;
    background-color: black;
    font-size: 14px;
    font-weight: bold;
}
.oddRow {
    color: black;
    background-color: whitesmoke;
    font-size: 14px;
}
.evenRow {
    color: black;
    background-color: gray;
    font-size: 14px;
}
    </style> 
 <table class="table">
        <thead class="table_header">
            <tr>
                <th></th>
                <th> Name </th>
                <th>Uploader </th>
                <th>Date</th>
                <th>Client</th>
                <th>Location</th>
                <th>Success</th>
                @for (var i = 1; i < 91; i++)
                {
                <th>Factor @i</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (var i = 1; i < 21; i++)
            {
                var id = "checkbox" + i;
                var rowType = "oddRow";
                if(i%2 == 0)
                    rowType = "evenRow";
                <tr class=@rowType>
                    <td>
                       <input type="checkbox"  name="checkbox" id=@id />
                    </td>
                    <td><a asp-action="FileSelected">Dog Park construnction</a></td>
                    <td> whompy whopersons  </td>
                    <td>2020/01/01</td>
                    <td>Dog Alliance</td>
                    <td>Ottawa</td>
                    <td>Yes</td>
                     @for (var j = 1; j < 91; j++)
                    {
                    <th>Yes</th>
                    }
                </tr>
            }
        </tbody>
    </table>
