@model ProjectManagementCollection.Models.ViewDocumentModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<!DOCTYPE html>
<html class="common" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search - Project Management Collection </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>

    <div class="view-container">
        <div></div>

        <table style="table-layout:fixed;" width="100%">
            <tr>
                <td width="33%">
                    <form asp-controller="Document" asp-action="SearchDocuments" method="get">
                        <input type="submit" value="Back" />
                    </form>
                </td>
            </tr>
        </table>
        <div class="container">
            <div style="position: absolute;left:1%;width:20%;height:100%;background:rgba(56, 132, 237, 0.22);">
                <table>
                    <tr>
                        <td style="border-width: 0 0 2px 0; border-style: solid; border-color: #000000">
                            Document Name :
                        </td>
                        <td style="border-width: 0 0 2px 0; border-style: solid; border-color: #000000">
                            @Model.Document.Name
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <i>factors related to document</i>
                        </td>
                    </tr>
                    <tr />
                    <tr>
                        <td colspan="2" align="center">
                        </td>
                    </tr>
                    @{string mainCat = "";}
                    @foreach (KeyValuePair<string, string> fac in Model.FactorStrings)
                    {
                        @if (@fac.Value != mainCat)
                        {
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left" style="border-width: 0 0 2px 0; border-style: solid; border-color: #000000">
                                    @fac.Value
                                </td>
                            </tr>

                        }
                        mainCat = fac.Value;
                        <tr>
                            <td colspan="2">
                                &bull;&nbsp;@fac.Key
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div id="tab_1" style="position: absolute;left:20.5%;height:100%;margin-left:10px;">

                @{ var oLink = "";
                    var link = "";
                    oLink = "https://gentsproject2.s3.ca-central-1.amazonaws.com/" + Model.Document.Url.Replace(" ", "+");
                    link = oLink;
                    if (Model.Document.Name.Contains(".doc") || Model.Document.Name.Contains(".docx") || Model.Document.Name.Contains(".xlsx") || Model.Document.Name.Contains(".pptx") || Model.Document.Name.Contains(".ppt") || Model.Document.Name.Contains(".xls"))
                    {
                        link = "https://view.officeapps.live.com/op/embed.aspx?src=" + link;

                    }

                }


                <iframe src="@link"
                        style="width:1258px;height:100%;">
                </iframe>
            </div>

        </div>
    </div>
</body>
</html>